@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    @apply text-2xl;
    @apply mb-3;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}
h1, h2, h3 {
    font-weight: bold;
}

a {
    @apply text-blue-700;
    @apply underline;
}

button:disabled {
    @apply bg-gray-200;
    cursor: not-allowed;
}

.submit-button {
    @apply bg-blue-600;
    @apply text-white;
    @apply font-bold;
    @apply py-2;
    @apply px-5;
    @apply rounded;
}

.text-input {
    @apply block;
    @apply w-full;
    @apply rounded;
}

.text-input-error {
    @apply border-red-600;
}

.error-message {
    @apply text-red-600;
    @apply text-sm;
}

